body{
    background-color: pink;
}


.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 23px 10px magenta;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(180, 212, 38);
    border-left: 1px solid rgb(26, 54, 211);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons>div {
    border-top: 1px solid rgb(0, 139, 139);
    border-right: 1px solid rgb(70, 134, 110);
}

.button {
    border: 0.5px solid rgb(77, 105, 12);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(4, 30, 68);
    color: white;
}

.button:hover {
    background-color: rgb(0, 88, 139);
    color: white;
    transition: 0.5s ease-in-out;
}